$cardBackground1: url('./assets/images/cardBackground1.webp');
$cardBackground2: url('./assets/images/cardBackground2.webp');
$cardBackground3: url('./assets/images/cardBackground3.webp');
$cardBackground4: url('./assets/images/cardBackground4.webp');