@import './style/colors';
@import './style/mixins';
@import './style/variables';

main {
  background: linear-gradient(196.2deg, #0D1E48 0%, #304571 100%);

  @include mobile {
    padding-top: 48px;
  }
}

// SECTION: Common
.text--bold {
  color: $WHITE;
  font-weight: 800;
  font-size: 26px;
  transition: color 0.2s;
}

.text--highlighted {
  color: $ROSE_PINK;
}

.text--highlighted--variant {
  color: $CHARTREUSE;
}

.button {
  cursor: pointer;
  padding: 14px 40px;
  background-color: $CHARTREUSE;
  border-radius: 100px;
  border-width: 0;
  transition: all 0.2s;

  & > span {
    color: $BLACK;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
  }

  &:hover {
    opacity: 0.6;
  }

  @include mobile {
    padding: 7px 40px;

    & > span {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

.button__outlined {
  @extend .button;
  
  background-color: transparent;
  border: 2px solid $CHARTREUSE; 
  outline: none;
  
  & > span {
    color: $CHARTREUSE;
  }
  
  @include tablet {
    padding: 7px 40px;
    
    & > span {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
    }
  }
}
// ENDSECTION: Common

// SECTION: Burger menu
#menu__toggle {
  display: none;

  @include mobile {
    display: inline;
  }
}

.navbar__wrapper > .menu__btn {
  display: none;

  @include mobile {
    display: inline;
  }
}

.navbar__wrapper > #menu__toggle  {
  visibility: hidden;

  & ~ label {
    position: fixed;
    top: 5px;
    right: 20px;
    z-index: 10;
  }

  &:checked ~ .menu__btn {
    & > img:first-child {
      display: none;
    }

    & > img:last-child {
      display: inline;
    }
  }

  & ~ .menu__btn {
    & > img:first-child {
      display: inline;
    }

    & > img:last-child {
      display: none;
    }
  }

  &:checked ~ .navbar {
    @include mobile {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(190.34deg, #0D1E48 0.28%, #304571 100%);
    }
  }
}
// ENDSECTION: Burger menu

// SECTION: Header
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 91px 21px 81px;
  background-color: $BLACK;
  
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1088px;
    width: 100%;
  }

  @include tablet {
    padding: 28px 50px 28px 30px;

    & > div {
      max-width: 688px;
    }
  }

  @include mobile {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 12px 20px;

    & > div {
      max-width: unset;
    }
  }
}

.logo {
  max-height: 35.11px;
  max-width: 104px;

  & > img {
    max-height: 100%;
    width: 100%;
  }

  @include tablet {
    max-height: 24px;
    max-width: 71.1px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 53px;
  list-style: none;

  @include mobile {
    display: none;
  }
}

.navbar__item > a > label {
  cursor: pointer;
}

.navbar__item > a > label > svg {
  display: inline-block;

  & > defs > linearGradient > stop {
    transition: .4s ease;
  }
}

.navbar__item > a:hover > label > svg {
  display: inline-block;
  
  & > defs > linearGradient > stop:first-child {
    stop-color: $CHARTREUSE;
  }

  & > defs > linearGradient > stop:last-child {
    stop-color: $ROSE_PINK;
  }
}

.text-link {
  color: $WHITE;
  font-size: 18px;
  line-height: 21.6px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(left, $CHARTREUSE 0%, $ROSE_PINK 25%, $WHITE 25%);
  background-image: linear-gradient(90deg, $CHARTREUSE 0%, $ROSE_PINK 25%, $WHITE 25%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.2s ease-in-out;

  &:hover {
    background-position: left center;
  }

  @include tablet {
    font-weight: 800;
  }
}
// ENDSECTION: Header

// SECTION: Banner
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 59px 0 64px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0.52%, rgba(15, 20, 32, 0.79) 99.48%), url('./assets/images/background.webp');
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @include tablet {
    padding: 100px 30px;
    align-items: flex-start;
  }

  @include mobile {
    padding: 250px 34px 44px;
    align-items: center;
  }
}

.banner__content-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 1088px;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    max-width: 693px;
  }
  
  & > div:last-child {
    display: flex;
    justify-content: flex-end;
    max-height: 367px;
  
    & > img {
      max-height: 100%;
      width: auto;
    }
  }

  @include tablet {
    max-width: 709px;

    & > div:last-child {
      position: absolute;
      top: -74px;
      right: -100px;
      max-height: 336px;
      max-width: 299.5px;

      & > img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  @include mobile {
    position: unset;
    max-width: 292px;

    & > div:first-child {
      gap: 17px;
      justify-content: center;
      align-items: center;
    }

    & > div:last-child {
      top: -117px;
      left: 0;
      right: 0;
      margin-left: auto; 
      margin-right: auto; 
      width: 299.5px;
    }
  }
}

.banner__text-heading {
  color: $WHITE;
  font-size: 72px;
  font-weight: 800;

  @include tablet {
    font-size: 48px;
    line-height: 48px;
  }

  @include mobile {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
}

.text-subheading {
  color: $WHITE;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;

  @include tablet {
    font-size: 22px;
    line-height: 26.4px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
  }
}
// ENDSECTION: Banner

// SECTION: Offers
.offers__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 58px 80px 60px;

  @include tablet {
    padding: 55px 30px 53px; 
  }
  
  @include mobile {
    padding: 50px 20px; 
  }
}

.offers__section--container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1088px;

  & > h2 {
    color: $WHITE;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
  }

  @include tablet {
    max-width: 709px;
    gap: 30px;
    
    & > h2 {
      font-size: 24px;
      font-weight: 800;
      line-height: 28.8px;
      text-align: left;
    }
  }
  
  @include mobile {
    max-width: 317px;
    
    & > h2 {
      font-size: 18px;
      line-height: 21.6px;
    }
  }
}

.offers__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @for $i from 1 to 5 {
    & > div:nth-child(#{$i}) {
      @include card-background($i);
    }
  }

  & > div:first-child,
  & > div:last-child {
    width: 100%;
    padding: 36px 35px 37px;
    border-radius: 10px;

    & > h3 {
      @extend .text--bold;
      font-size: 74px;
      line-height: 74px;
    }

    & > h4 {
      @extend .text--bold;
      font-size: 26px;
      line-height: 31.2px;
    }

    @include tablet {
      width: unset;
      padding: unset;
    }
  }

  & > div:not(:first-child):not(:last-child) {
    width: 453px;
    padding: 49px 35px 36px;
    border-radius: 10px;

    & > h3 {
      @extend .text--bold;
      font-size: 46px;
    }

    & > h4 {
      @extend .text--bold;
      font-size: 24px;
    }
  }

  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    & > div:first-child > h4 > span {
      display: none;
    }

    & > div {
      max-width: 287px !important;
      padding: 107px 26px 27px !important;

      & > h3 {
        font-size: 40px !important;
        font-weight: 800 !important;
        line-height: 40px !important;
      }

      & > h4 {
        font-size: 16px !important;
        font-weight: 800 !important;
        line-height: 19.2px !important;
      }
    }
  }

  @include mobile {
    & > div {
      padding: 98.2px 25.69px 35.8px !important;
    }
  }
}

.offer__card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  & > h3,
  & > h4,
  & > button {
    z-index: 1;
  }
}
// ENDSECTION: Offers

// SECTION: Offers info
.offers__section--info {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 22px;

  & > h2 {
    color: $WHITE;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
  }

  & > p,
  & > div > p {
    color: rgba($WHITE, 0.6);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  & > label {
    cursor: pointer;
    max-width: fit-content;
    color: $CHARTREUSE;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    transition: all 0.2s;

    &:hover {
      color: rgba($CHARTREUSE, 0.6)
    }
  }

  @include tablet {
    margin-top: 25px;

    & > h2 {
      font-size: 24px;
      font-weight: 800;
      line-height: 28.8px;
    }

    & > p,
    & > div > p {
      font-size: 16px;
      line-height: 19.2px;
    }

    & > label {
      font-size: 16px;
      font-weight: 800;
      line-height: 19.2px;
    }
  }

  @include mobile {
    margin-top: 20px;

    & > h2 {
      font-size: 18px;
      line-height: 21.6px;
    }

    & > p,
    & > div > p {
      font-size: 14px;
      line-height: 16.8px;
    }

    & > label {
      font-size: 14px;
      font-weight: 800;
      line-height: 16.8px;
    }
  }
}

.expand-texts-input {
  display: none;
}

.expand-texts-input:checked ~ .expandible-text {
  max-height: 200px;
}

.expandible-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
// ENDSECTION: Offers info

// SECTION: Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 19px;
  background-color: $BLACK;

  & > p {
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
  }

  @include tablet {
    padding-bottom: 18px;
  }
  
  @include mobile {
    padding-bottom: 19px;
  }
}
// ENDSECTION: Footer