@mixin tablet {
  @media (max-width: 1247px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

$ROSE_PINK: #FF70D9;
$CHARTREUSE: #EBFF00;
$POLICE_BLUE: #304571;
$BLACK: #000000;
$WHITE: #FFFFFF;
$CHINESE_BLACK: #0F1420;

$cardBackground1: url('./assets/images/cardBackground1.webp');
$cardBackground2: url('./assets/images/cardBackground2.webp');
$cardBackground3: url('./assets/images/cardBackground3.webp');
$cardBackground4: url('./assets/images/cardBackground4.webp');

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 91px 21px 81px;
  background-color: $BLACK;
  
  & > div {
    display: flex;
    justify-content: space-between;
    max-width: 1088px;
    width: 100%;
  }

  @include tablet {
    padding: 28px 50px 28px 30px;
  }

  @include mobile {
    padding: 20px 12px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 53px;
  list-style: none;

  & > li {
    cursor: pointer;
  }
}

.navbar__item > a > svg {
  display: inline-block;

  & > defs > linearGradient > stop {
    transition: .4s ease;
  }
}

.navbar__item > a:hover > svg {
  display: inline-block;
  
  & > defs > linearGradient > stop:first-child {
    stop-color: $CHARTREUSE;
  }

  & > defs > linearGradient > stop:last-child {
    stop-color: $ROSE_PINK;
  }
}

.text-link {
  color: $WHITE;
  font-family: Lato;
  font-size: 18px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(left, $CHARTREUSE 0%, $ROSE_PINK 25%, $WHITE 25%);
  background-image: linear-gradient(90deg, $CHARTREUSE 0%, $ROSE_PINK 25%, $WHITE 25%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: background-position 0.2s ease-in-out;

  &:hover {
    background-position: left center;
  }
}

.text {
  color: $WHITE;
  font-family: Lato;
  font-weight: 700;
  font-size: 26px;
  transition: color 0.2s;
}

.text--bold {
  color: $WHITE;
  font-family: Lato;
  font-weight: 800;
  font-size: 26px;
  transition: color 0.2s;
}

.banner__text-heading {
  color: $WHITE;
  font-size: 72px;
  font-weight: 800;
}

.text-subheading {
  color: $WHITE;
  font-size: 32px;
  font-weight: 800;
}

.text--highlighted {
  color: $ROSE_PINK;
}

.text--highlighted--variant {
  color: $CHARTREUSE;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 59px 0 64px;
  background: url('./assets/images/background.webp');
  background-position: center center;
  background-size: cover;

}

.banner__content-container {
  display: flex;
  justify-content: space-between;
  width: 1088px;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    max-width: 693px;
  }
  
  & > div:last-child {
    display: flex;
    justify-content: flex-end;
    max-height: 367px;
  
    & > img {
      height: 100%;
      width: auto;
    }
  }
}

.button {
  cursor: pointer;
  padding: 14px 40px;
  background-color: $CHARTREUSE;
  border-radius: 100px;
  border-width: 0;
  transition: all 0.2s;

  & > span {
    color: $BLACK;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.button__outlined {
  @extend .button;

  background-color: transparent;
  border: 2px solid $CHARTREUSE; 
  outline: none;

  & > span {
    color: $CHARTREUSE;
  }
}

.offers__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 58px 80px 60px;
  background-color: $POLICE_BLUE;

  & > h2 {
    align-self: flex-start;
  }
}

.offers__section--container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1088px;
}

.offers__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  
  & > div:nth-child(1) {
    background-image: $cardBackground1;
    background-position: center center;
    background-size: cover;
  }
  
  & > div:nth-child(2) {
    background-image: $cardBackground2;
    background-position: center center;
    background-size: cover;
  }

  & > div:nth-child(3) {
    background-image: $cardBackground3;
    background-position: center center;
    background-size: cover;
  }

  & > div:nth-child(4) {
    background-image: $cardBackground4;
    background-position: center center;
    background-size: cover;
  }

  & > div:first-child,
  & > div:last-child {
    width: 100%;
    padding: 36px 35px 37px;
    border-radius: 10px;

    & > h3 {
      @extend .text--bold;
      font-size: 74px;
      line-height: 74px;
    }

    & > h4 {
      @extend .text--bold;
      font-size: 26px;
      line-height: 31.2px;
    }

    & > img {
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  & > div:not(:first-child):not(:last-child) {
    width: 453px;
    padding: 49px 35px 36px;
    border-radius: 10px;

    & > h3 {
      @extend .text--bold;
      font-size: 46px;
    }

    & > h4 {
      @extend .text--bold;
      font-size: 24px;
    }

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.offer__card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  & > h3,
  & > h4,
  & > button {
    z-index: 1;
  }
}

.offer_card__overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-90deg, rgba($BLACK, 0) 0%, rgba($CHINESE_BLACK, 0.79) 100%);
}

.offers__section--info {
  display: flex;
  flex-direction: column;
  gap: 17px;

  & > p {
    color: rgba($WHITE, 0.6);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  & > span {
    width: fit-content;
    cursor: pointer;
    color: $CHARTREUSE;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    transition: all 0.2s;

    &:hover {
      color: rgba($CHARTREUSE, 0.6)
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 19px;
  background-color: $BLACK;

  & > p {
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
  }
}